*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;

}

header{
    background-color: rgb(95, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(128, 68, 53, 0.3);
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    min-height: 60px;
}


.logo{
    font-size: 3rem;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}


.navbar ul{
    display: flex;
    list-style: none;
    gap: 5px;
}

.navbar a:link, .navbar a:visited{
    font-size: 1.8rem;
    color:black;
    text-decoration: none;
    padding: 10px 15px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover, .navbar a:active{
    color: white;
    background-color: crimson;
    text-shadow: 1px 1px 1px rgba(14, 14, 14, 0.3);
}

#hero{
    background-image: url('../img/hero.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    padding: 40px 0;
    font-size: 3rem;
}

section{
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about{
    background-color: rgb(141, 131, 131);
}



#about p{
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    max-width: 800px;
    margin: 0 auto;
}

#gallery{
    background-color: brown;
    display: block;
    text-align: center;
}

#gallery img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
    margin: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 10PX;
    box-shadow: 5PX 5PX 20PX rgba(14,14,14,0.5);
    transition: transform 0.3s ease;
}



#gallery img:hover{
    transform: scale(1.05);
}


#map{
    padding: 0;
}


#contact{
    background-color: rgb(124, 74, 56);
    align-items: center;
}

#contact form{
width: 100%;
max-width: 400px;
display: flex;
flex-direction:column;
text-align:left;
}

#contact label{
    font-size: 1.6rem;
    margin: 5px;
    font-weight: bold;
}


#contact input, #contact textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    border-radius: 8px;
    border: none;
}


#contact button{
    background-color:blue;
    color: #FFFFFF;
    font-size: 1.6rem;
    padding: 12px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#contact button:hover{
    background-color: black;
}
footer{
    background-color: black;
    color: #FFFFFF;
    padding: 20px 10px;
    text-align: center;

}

footer a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
} 